.home {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &_image {
    max-width: 70rem;
  }

  &_text {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: $color-primary;
    font-size: 3rem;
  }
}