.searchbar {
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  border-bottom: 4px solid $color-primary;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  z-index: 9999;

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__input {
    width: 100%;
    border: none;
    font-size: 2rem;
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat';

    &::placeholder {
      text-transform: uppercase;
      font-weight: 600;
      font-family: 'Montserrat';
      color: #fe000091;
    }
  }
}